{% extends 'base.html.twig' %}

{% block title %}Artists{% endblock %}

{% block body %}
    <style>
        img {
            width: 300px;
            height: 300px;
        }
    </style>

    <h1>Artists</h1>

    {% if artists is empty %}
        <p>No artists found.</p>
    {% else %}
        <div>
            {% for artist in artists %}
                <div>
                    <a href="{{ path('app_artist_details', {'id': artist.id}) }}">
                        <img src="{{ asset('uploads/images/' ~ artist.image) }}" alt="{{ artist.name }}">
                    </a>
                    <a href="{{ path('app_artist_details', {'id': artist.id}) }}">
                        <p>{{ artist.name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
